.table_holder {
    margin: 40px 0;
}

.table_holder table {
    border-collapse: collapse;
}

.table_holder th {
    background-color: #798FDF;
    border: 1px solid #4C61AF;
    text-align: center;
    padding: 15px 0;
    color: #fff;
}

.table_holder td {
    border: 1px solid #E2E2E2;
    padding: 15px 10px;
}