.header {
    display: flex;
    justify-content: space-between;
    /* background: rebeccapurple; */
    margin: 10px;
    position: relative;
}

.headers1 {
    display: flex;
    /* background: red; */


}

.headers__title {
    font-family: 'Lato', sans-serif;
    /* font-style: normal; */
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 19px;

    padding-top: 23px;
    padding-left: 12px;
    color: #414141;
}



.header__logotip {
    display: flex;
}

.header__icon {
    margin-right: 18px;
    width: 48px;
    height: 48px;
}

.header__logo {
    margin-left: 13px;
}


.header__allIcon {
    display: flex;
    margin-top: 12px;
    margin-right: 20px;
}

/* 
.header__logo:hover {
    -webkit-box-shadow: -1px -5px 55px 10px rgba(34, 60, 80, 0.21);
    -moz-box-shadow: -1px -5px 55px 10px rgba(34, 60, 80, 0.21);
    box-shadow: -1px -5px 55px 10px rgba(34, 60, 80, 0.21);
} */






@media screen and (max-width: 845px) {
    .header__allIcon {
        margin-top: 55px;
        /* margin-left: 50px; */
        /* background: red; */
        margin-right: 0px;
    }

    .header__icon {
        margin-right: 0px;
    }
}

@media screen and (max-width: 477px) {
    .header__icon {
        width: 40px;
        height: 40px;
        /* margin-right: 10px;
        margin-top: 12px; */
        margin-bottom: 5px;

    }

    .header__allIcon {
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        /* margin-right: 48px; */

    }


    .headers__title {

        width: 40%;
        /* padding-top: 39px; */

    }






}