.header {
    display: flex;
    justify-content: space-between;

    margin: 10px;
    position: relative;
    /* color: '#FFE99C', */


}

.headers1 {
    display: flex;
    /* background: red; */


}

.header__notification {
    display: flex;
    /* background: rebeccapurple; */
    position: relative;

}

.header__icon_conteiner {

    width: 18px;
    height: 18px;
    background: #CE5B5B;
    border-radius: 50%;


    /* font-weight: 600; */
    font-size: 10px;
    /* line-height: 10px; */
    position: absolute;
    right: 20%;
    top: -5%;

}

.header__icon_count {
    position: relative;
    top: 10%;
    text-align: center;
    color: #FFFFFF;
    font-size: 10px;
}

.headers__title {
    font-family: 'Lato', sans-serif;
    /* font-style: normal; */
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 19px;

    padding-top: 23px;
    padding-left: 12px;
    color: #414141;
}



.header__logotip {
    display: flex;
}

.header__icon {
    margin-right: 18px;
    width: 48px;
    height: 48px;
}

.header__logo {
    margin-left: 13px;
}


.header__allIcon {
    display: flex;
    margin-top: 12px;
    margin-right: 20px;
}

/* 
.header__logo:hover {
    -webkit-box-shadow: -1px -5px 55px 10px rgba(34, 60, 80, 0.21);
    -moz-box-shadow: -1px -5px 55px 10px rgba(34, 60, 80, 0.21);
    box-shadow: -1px -5px 55px 10px rgba(34, 60, 80, 0.21);
} */

.f {
    width: 187px;
    background: rebeccapurple;
    background: red;
    background: #F6F8FF;
    border-radius: 8px;
    position: relative;
    height: 50px;
}

.headers_profil {

    display: flex;




}

.headers_profil_icon {
    padding-top: 15px;
    padding-bottom: 3px;
    padding-left: 10px;

}

.headers_profil_pops {
    margin-top: 19px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding-top: 5px;
}

.headers_profil_name {
    align-self: center;
    padding-left: 7px;
    padding-top: 10px;
}

.headers_profil_popsUp {
    display: flex;
    margin-bottom: 5px;

}

.headers_profil_hover {
    padding-top: 10px;
    /* background: red; */
    padding-left: 10px;


}

.headers_profil_pops :hover {
    background: #F6F8FF;
    cursor: pointer;

}


.arrow {
    position: absolute;
    z-index: 3;
    right: 5%;
    top: 45%;
}


.arrowOpenIcon {
    position: absolute;
    z-index: 3;
    right: 5%;
    top: 40%;
}

@media screen and (max-width: 845px) {
    .header__allIcon {
        margin-top: 55px;
        /* margin-left: 50px; */
        /* background: red; */
        margin-right: 0px;
    }

    .header__icon {
        margin-right: 0px;
    }
}

/* 
@media screen and (max-width: 477px) {
    .header__icon {
        width: 40px;
        height: 40px;
        /* margin-right: 10px;
        margin-top: 12px; */
/* margin-bottom: 5px; */
/*  */
/* }

.header__allIcon {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    /* margin-right: 48px; */

/* }


.headers__title {

    width: 40%;
    padding-top: 39px;

} */
.header__twoIcon {
    display: flex;

}

@media screen and (max-width: 541px) {
    .header__allIcon {
        background: red;
        display: flex;
        flex-direction: column;
        justify-content: end;



    }

    .header__twoIcon {
        display: flex;
        justify-content: end;
    }


}

@media screen and (max-width: 487px) {



    .header {

        width: 463px;
    }

    .header__allIcon {

        margin-right: 10px;
    }
}