.item_holder {
    width: 100%;
    box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.5);
    margin: 10px 0;
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-radius: 10px;
}

.selected_item {
    border-left: 5px solid #6786F4;
    border-radius: 0 10px 10px 0;
    background-color: #F6F8FF;
    box-shadow: 0px 0px 10px rgba(146, 167, 243, 0.5);
}

.checkbox_holder {
    width: 16px;
    height: 16px;
    margin-left: 40px;
}

.column_checkbox {
    width: 11%;
}

.column_id {
    width: 9%;
}

.column_name {
    width: 18%;
}

.column_role {
    width: 15%;
}

.column_email {
    width: 22%;
}

.column_date {
    width: 15%;
}

.column_options {
    flex-grow: 1;
    display: flex;
    padding-right: 50px;
    justify-content: flex-end;
    align-items: center;
}

.item_column {
    font-size: 16px;
    font-weight: 400;
    color: #030303;
    text-align: start;
}

.options_approve {
    width: 35px;
    margin: 0 30px;
    cursor: pointer;
}

.options_edit {
    margin: 0 30px;
    cursor: pointer;
}

.options_delete {
    height: 20px;
    cursor: pointer;
}