.table_holder {
    border-collapse: collapse;
    overflow-x: auto;
}

.table_holder thead {
    background-color: #798FDF;
}

.table_holder th {
    min-width: 200px;
    border: 1px solid #4C61AF;
    color: #fff;
}

.table_holder td {
    border: 1px solid #E2E2E2;
    padding: 10px 0px;
    /* min-width: 200px; */
}