.table_holder {
    border-collapse: collapse;
    overflow-x: auto;
}

.table_row {
    width: 100%;
    display: flex;
}

.table_row_double {
    border-bottom: 1px solid #4C61AF;
}

.table_header_row {
    border-top: 1px solid #4C61AF;
    border-bottom: 1px solid #4C61AF;
    border-left: .5px solid #4C61AF;
    border-right: .5px solid #4C61AF;
    background: #6786F4;
}

.table_header {
    min-width: 250px;
    border-right: .5px solid #4C61AF;
    border-left: .5px solid #4C61AF;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.table_header_fill {
    min-width: 250px;
    width: 100%;
    border-right: .5px solid #4C61AF;
    border-left: .5px solid #4C61AF;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.table_header_age {
    min-width: 100px;
    width: 100px;
}