.content {
    font-family: 'Lato', sans-serif;
    font-style: normal;

    font-size: 24px;
    line-height: 29px;

    margin-top: 60px;
    position: relative;
    /* margin-bottom: 50px; */

    display: inline;




}

.content_calendar {
    /* border: 1px solid #F2F2F2;
    filter: drop-shadow(0px 0px 7px rgba(200, 200, 200, 0.5));
    border-radius: 8px; */
    position: relative;
    z-index: 0;
    width: 95%;
    /* margin: 0 auto; */

    /* font-weight: 600; */
    font-size: 20px;
    line-height: 120%;

    letter-spacing: 0.04em;
    /* background: red; */
    /* margin-right: 5px; */
    position: absolute;
    top: -14px;
    left: 28px;
    /* right: 5px; */
}

.content__title {
    width: 96%;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */
    letter-spacing: 0.04em;

    color: #000000;

    /* background: rebeccapurple; */
}


@media screen and (max-width: 1009px) {
    .content__title {
        margin-left: 28px;
    }
}

@media screen and (max-width: 913px) {
    .content_calendar {

        /* background: red; */
        position: absolute;
        top: 50px;
        left: 28px;
    }
}

@media screen and (max-width: 541px) {
    .content {
        margin-top: 150px;

    }
}

.view_title {
    background: rebeccapurple;
}