.header_holder {
    width: 100%;
    margin: 70px 0;
    display: flex;
    justify-content: center;
}

.header_inner {
    width: 96%;
    display: flex;
    justify-content: space-between;
}

.header_title {
    color: #000;
}

.input_holder {
    width: 25%;
}