.modal_holder {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .35);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.modal_window {
    min-width: 20%;
    min-height: 400px;
    max-height: 80%;
    background-color: #fff;
    z-index: 9999999;
}