.conteinerNews {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    /* background: red; */

}





.conteinerNews__images {

    display: block;
    max-width: 100%;
    height: auto;
    /* height: 306px; */

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.conteinerNews__block {
    background: #F9F9FF;
    border: 1px solid #F8F8FF;
    box-shadow: 0px 0px 7px #E2E1FD;
    border-radius: 8px;

    width: 400px;
    margin: 20px;

    position: relative;
}




.conteinerNews__allNews {
    margin: 10px;
    position: relative;
}

.conteinerNews__title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
}

.conteinerNews__text {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    margin-top: 14px;

    height: 140px;
    overflow: scroll;

    color: #5F5F5F;


}

.conteinerNews__block:hover .conteinerNews__title {
    color: #5B73CE;
}



.conteinerNews__block:hover {
    color: #5B73CE;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1.1);
    box-shadow: 0px 0px 25px 15px #DDDBFF;
}




.conteinerNews__date {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;

    position: absolute;
    bottom: 0;
    /* left: 0; */
    right: 0;
    color: #9B9999;
    margin: 14px;

    /* background: red; */

}

.spinner {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: red;
    /* identical to box height */
}

@media screen and (max-width: 459px) {
    .conteinerNews__block {

        width: 300px;

    }

    .spinner {
        margin-top: 5vh;
    }


}


@media screen and (max-width: 880px) {
    .conteinerNews__date {
        /* background: red; */
        position: relative;
        top: 0px;


    }


}