.chat__sidebar_headers_search {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 0px 7px rgba(200, 200, 200, 0.5);
    border-radius: 10px;
    width: 342px;
    height: 46px;


    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-left: 46px;
    color: #D9D9D9;

}

.chat__sidebar_headers_searchIcon {
    position: absolute;
    top: 23px;
    left: 20px;
}