.modal_holder {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .25);
}

.modal_window {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.event_catcher {
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-height: 80%;
    min-height: 200px;
}

.header {
    margin-top: 20px;
    width: 90%;
}

.close_icon {
    width: 11px;
    height: 11px;
    background: none;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.close_icon img {
    width: 100%;
    height: 100%;
}

.content {
    width: 85%;
    flex-grow: 1;
    max-height: 80%;
    /* margin: 50px 0; */
    overflow: hidden;
}

.input_holder {
    margin: 8px 0;
}

.footer {
    width: 100%;
    display: flex;
}

.sex_list_holder {
    margin: 15px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sex_holder {
    display: flex;
    align-items: center;
}

.sex_list_holder label {
    cursor: pointer;
    font-size: 16px;
    text-align: start;
    margin: 0 5px;
}

.radio_input_holder {
    cursor: pointer;
}